.evaluatz_menu {
    width:200px;
    height:100%;
    background: black;
    color:RGB(150,150,150);
    position: fixed;
    top: 52px;
    z-index: 100;
}
.evaluatz_menu li {
    border: none;
    margin-bottom: 0px;
}
.evaluatz_menu li:hover {
    background: RGBA(150,150,150,0.1);
    cursor: pointer;
}
.evaluatz_menu * {
    background: none;
}

.evaluatz_menu li.active {
    color:white;
    background: RGBA(200,200,200,0.1); 
    border-color: none;
}



.evaluatz_index_content{
    /* position:fixed; */
    /* height:calc(100% - 52px) ;
    width:calc(100% - 200px) ; */
    /* left:200px; */
    overflow: scroll;
}

.evaluatz_dashboard{
   
}

.evaluatz-green-bg{
    background: linear-gradient( RGBA(100,255,100, 0.6), RGBA(100,255,100, 0.8));
}

.evaluatz-brown-bg{
    background: linear-gradient(rgb(82,54,27), rgb(63,42,20));
}