.evaluatz_header{
    position:fixed;
    top:0;
    background: linear-gradient(RGB(55,55,55),RGBA(51,51,51, 0.98));
    width: 100%;
    border-bottom: solid 1px RGB(41,41,41);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
    z-index: 1000;
}


.evaluatz_logo_header{
    height: 50px;
    /* float:left; */
}
.evaluatz_logo_header img{
    height:50px;
    width:50px;
    padding: 10px;
}


.evaluatz_header_right{
    float:right;
    color:white;
    display:flex;
    align-items: center;
    height:50px;
    width: 80px;
    padding: 5px 10px;
    
}

.evaluatz_header_right div{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
}

.evaluatz_header_toggleMenu{
    width: 80px;
}