.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.evaluatz_content {
  margin-top: 51px;
  width: 100%;
  height: calc(100% - 52px);
  /* position: fixed; */
}




/* Safari 4.0 - 8.0 */


.evaluatz-text-xxlarge{
  font-size: xx-large;
}
.evaluatz-text-xlarge{
  font-size: x-large;
}
.evaluatz-text-large{
  font-size: large;
}

.evaluatz-text-small{
  font-size: small;
}

.bg-white-01{
  background: RGBA(200,200,200,0.1);
}


.evaluatz_load_div{
  
}

/* LOGO ANIMATION */

.evaluatz_mask_load {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: RGB(20,20,20);
  z-index: 10000;
}


.evaluatz-logo-animated-wrapper{
  position: relative;
  height:100px;
  width:100px;
}

.evaluatz-logo-animated{
  background: RGB(140,70,0);
  position:relative;
   height:100%;
   width:100%;
   top:0;
   left:0px;
   border-radius: 50%;
   border:solid 2px RGB(140,70,0);
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 .evaluatz-logo-animated:before{
    content:"";
    position: absolute;
    background: linear-gradient(RGB(200,100,0), RGB(140,70,0)) ;
    height:90%;
    width:90%;
    top:5%;
    left:5%;
    border-radius: 30% ;
    animation: rotate 0.5s linear infinite;
    /* animation: appearRight 2s; */
  }

  .evaluatz-logo-animated:after{
    content:"";
    position: absolute;
    background: RGB(51,51,51);
    height:90%;
    width:90%;
    top:5%;
    left:5%;
    border-radius: 50%;
    /* animation: appearRight 2s; */
  }
 .evaluatz-logo-animated_E{
  content:"E";
  position:absolute;
  color: RGB(253,128,35);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 100%; 
  width:50%;
  font-size:50px;
  padding:0px;
  text-align: right;
  left:5%;
  top:0%;
  padding:0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: appear 1s;
}


.evaluatz-logo-animated_V{
  content:"V";
  position:absolute;
  color: RGB(225,114,30);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; 
  text-align: left;
  font-size:50px;
  height:100%;
  width:50%;
  top:0%;
  left:50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: appear 3s;
}

  @keyframes rotate {
    from   {transform: rotate(0deg);}
    to  {transform: rotate(360deg);}
}


 @keyframes appear {
    from   {color:RGB(51,51,51)}
    to  {color:RGB(225,114,30);}
}














.stock_card_line{
   width:275px;
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
  /* border:solid RGB(51,51,51) 2px; */
  /* -webkit-filter: grayscale(70%); */
  /* filter: grayscale(70%); */
}

.stock_card_line:hover{
  opacity: 1;
  transform: scale(1.1,1.1) translateY(-20px);
  /* -webkit-filter: grayscale(0%); */
  /* filter: grayscale(0%); */
  /* border:solid RGB(51,51,51) 1px; */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.35)!important;
  text-decoration: none !important;
}

.evaluatz_stock  a{
  text-decoration: none !important;
}